<mat-toolbar color="accent" style="height: 30px; z-index: 10;">
  <mat-toolbar-row>
    <a class="kety-title" routerLink="/home-page">KETY GROUP</a>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/home-page"><mat-icon>home</mat-icon> Acasa </a>
      <a mat-button routerLink="/services-page"><mat-icon>settings</mat-icon> Servicii </a>
      <a mat-button routerLink="/projects-page"><mat-icon>map</mat-icon> Proiecte </a>
      <a mat-button routerLink="/about-us-page"><mat-icon>info</mat-icon> Despre noi </a>
      <a mat-button routerLink="/contact-page"><mat-icon>person</mat-icon> Contact </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
